<section class="footer">
  <img src="../../assets/images/footer.png" alt="" class="footer-img">
  <div class="footer__content">
    <img src="../../assets/images/logo.png" alt="" class="logo-img">
    <ul>
      <li class="title">About indo</li>
      <li class="item">Mission</li>
      <li class="item">Launch</li>
      <li class="item">Ideas</li>
      <li class="item">Pricing</li>
      <li class="item">FAQ</li>
      <li class="item">Media</li>
    </ul>
    <ul>
      <li class="title">Follow</li>
      <li class="item">Blog</li>
      <li class="item">Release notes</li>
      <li class="item">Instagram</li>
      <li class="item">Facebook group</li>
      <li class="item">Facebook</li>
      <li class="item">LinkedIn</li>
    </ul>
  </div>
  <div class="copy">
    <p>Powered by H0ler</p>
    <p>With Angular.</p>
  </div>
</section>
