<section class="adventages">
  <div class="adventages__content">
    <h2>Why indó?</h2>
    <div class="adventages__cards">
      <div class="adventages__cards-left">
        <div class="adventages__cards-item">
          <p class="subtitle">It shouldn't cost you to use your money.</p>
          <p class="title">No card fees.</p>
          <img src="../../assets/images/c1.png" >
        </div>
        <div class="adventages__cards-item">
          <p class="subtitle">It shouldn't cost you to use your money.</p>
          <p class="title">No card fees.</p>
          <img src="../../assets/images/c2.png" >
        </div>
      </div>
      <div class="adventages__cards-right">
        <div class="adventages__cards-item">
          <p class="subtitle">It shouldn't cost you to use your money.</p>
          <p class="title">No card fees.</p>
          <img src="../../assets/images/c3.png" >
        </div>
        <div class="adventages__cards-item">
          <p class="subtitle">It shouldn't cost you to use your money.</p>
          <p class="title">No card fees.</p>
          <img src="../../assets/images/c4.png" >
        </div>
      </div>
    </div>
  </div>
</section>
